In [10]:
import pandas as pd
import numpy as np
import requests
from pprint import pprint

def get_card_details(number_of_cards):
    cards_data = []
    try:
        url = f'https://deckofcardsapi.com/api/deck/new/draw/?count={number_of_cards}'
        response = requests.get(url)
        card_details = response.json()

# extracting card value, suit and code from JSON code
        for card in card_details['cards']:
            cards_data.append({'value': card['value'], 'suit': card['suit'], 'code': card['code']})
            
# creating dataframe
        cards_df = pd.DataFrame(cards_data)

# sorting card order in table
        card_order = {'2': 2, '3': 3, '4': 4, '5': 5, '6': 6,'7': 7, '8': 8, '9': 9, '10': 10, 'Jack': 11,'Queen': 12, 'King': 13, 'Ace': 14}
        
        cards_df['sort_value'] = cards_df['value'].map(card_order)
        
        cards_df_sorted = cards_df.sort_values(by = ['suit', 'sort_value'], ascending=[False, False])
        
        cards_df_sorted.drop(columns = ['sort_value'], inplace=True)

# resetting index
        cards_df_sorted.reset_index(drop = True, inplace = True)

# saving CSV of file output
        csv_file_path = 'cards_output_2.csv'
        cards_df_sorted.to_csv(csv_file_path, index=False)
        
        return cards_df_sorted
    
    except:
        return 'something went wrong'


get_card_details(int(input('How many cards do you want to draw? ')))

How many cards do you want to draw?  40

    value      suit code
0      10    SPADES   0S
1       9    SPADES   9S
2       8    SPADES   8S
3       7    SPADES   7S
4       5    SPADES   5S
5       4    SPADES   4S
6       2    SPADES   2S
7   QUEEN    SPADES   QS
8    JACK    SPADES   JS
9     ACE    SPADES   AS
10   KING    SPADES   KS
11      9    HEARTS   9H
12      6    HEARTS   6H
13      5    HEARTS   5H
14      4    HEARTS   4H
15      3    HEARTS   3H
16      2    HEARTS   2H
17   JACK    HEARTS   JH
18   KING    HEARTS   KH
19     10  DIAMONDS   0D
20      9  DIAMONDS   9D
21      8  DIAMONDS   8D
22      7  DIAMONDS   7D
23      6  DIAMONDS   6D
24      5  DIAMONDS   5D
25      4  DIAMONDS   4D
26      2  DIAMONDS   2D
27    ACE  DIAMONDS   AD
28   JACK  DIAMONDS   JD
29     10     CLUBS   0C
30      9     CLUBS   9C
31      8     CLUBS   8C
32      7     CLUBS   7C
33      6     CLUBS   6C
34      3     CLUBS   3C
35      2     CLUBS   2C
36    ACE     CLUBS   AC
37   KING     CLUBS   KC
38  QUEEN     CLUBS   QC
39   JACK     CLUBS   JC